src/main/resources/schemas/dar-notify-event.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.VIQSoultions.com"
  elementFormDefault="qualified">

  <xs:element name="DARNotifyEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="XMLEventDocument" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DARNotifyEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DARNotifyEventResult" type="xs:int"/>
        <xs:element name="TestString" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
