src/test/resources/simple-test-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:a="someNS" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="someNS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="x">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="y" type="xs:string" />
        <xs:element name="z" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
