src/main/resources/schemas/xhibit/CourtService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by LCMG (LogicaCMG) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Doug Climie (Electronic Data Systems LTD) -->
<xsd:schema xmlns:apd="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails"
            xmlns="http://www.courtservice.gov.uk/schemas/courtservice"
            xmlns:cs="http://www.courtservice.gov.uk/schemas/courtservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.courtservice.gov.uk/schemas/courtservice" elementFormDefault="qualified"
            attributeFormDefault="unqualified" version="5.7" id="CourtService">
		<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="apd.xsd"/>
	<!--=================================================================	-->
	<!--====================  Start of Simple Type Definition ==================== -->
	<!--=================================================================	-->
	<xsd:simpleType name="AppealTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Conviction"/>
			<xsd:enumeration value="Sentenced"/>
			<xsd:enumeration value="Conviction and Sentence"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ASnumberType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="20"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[0-9]{2}[A-Za-z0-9]{4}[0-9]{2}[0-9]{11}[A-Za-z0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AssociatedOrderType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="communityOrder"/>
			<xsd:enumeration value="suspendedSentenceOrder"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AttachmentTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="previousConvictionList"/>
			<xsd:enumeration value="preSentenceReport"/>
			<xsd:enumeration value="medicalReport"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BailChangeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Varied"/>
			<xsd:enumeration value="Amended"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BailConditionsType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Unconditional"/>
			<xsd:enumeration value="SubjectToBailOrder"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BailDecisionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Conditional"/>
			<xsd:enumeration value="Refused"/>
			<xsd:enumeration value="Unconditional"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BailOrderedType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SubjectToConditions"/>
			<xsd:enumeration value="AlreadyCompliedWithConditions"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BailStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="On bail"/>
			<xsd:enumeration value="On remand"/>
			<xsd:enumeration value="In care"/>
			<xsd:enumeration value="In custody"/>
			<xsd:enumeration value="Not applicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CaseLinkRefType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][0-9]{8}( FIX)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CaseNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CaseType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Trial case"/>
			<xsd:enumeration value="Committal for sentence"/>
			<xsd:enumeration value="Appeal"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommunityOrderType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="activity"/>
			<xsd:enumeration value="alcohol treatment"/>
			<xsd:enumeration value="attendance centre"/>
			<xsd:enumeration value="curfew"/>
			<xsd:enumeration value="drug rehabilitation"/>
			<xsd:enumeration value="exclusion"/>
			<xsd:enumeration value="mental health treatment"/>
			<xsd:enumeration value="programme"/>
			<xsd:enumeration value="prohibited activity"/>
			<xsd:enumeration value="residence"/>
			<xsd:enumeration value="supervision"/>
			<xsd:enumeration value="unpaid work"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourtHouseCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourtType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Crown Court"/>
			<xsd:enumeration value="Magistrates Court"/>
			<xsd:enumeration value="Youth Court"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="All"/>
			<xsd:enumeration value="Specific"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CounselTypeType">
				<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CRnumberType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="23"/>
			<xsd:maxLength value="23"/>
			<xsd:pattern value="[0-9]{2}[A-Za-z0-9]{4}[0-9]{2}[0-9]{11}[A-Za-z0-9][0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateQualifierType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="on or before"/>
			<xsd:enumeration value="on"/>
			<xsd:enumeration value="on or after"/>
			<xsd:enumeration value="after"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DetentionTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Detention"/>
			<xsd:enumeration value="Imprisonment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HearingTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodOfInstigationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Committal"/>
			<xsd:enumeration value="Sending"/>
			<xsd:enumeration value="Execution"/>
			<xsd:enumeration value="Transfer"/>
			<xsd:enumeration value="Transfer certificated"/>
			<xsd:enumeration value="Voluntary bill"/>
			<xsd:enumeration value="Rehearing ordered"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NBSSOrderType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SuspendedSentenceOriginalTerm"/>
			<xsd:enumeration value="SuspendedSentenceSubstitute"/>
			<xsd:enumeration value="Fine"/>
			<xsd:enumeration value="CommunityRequirement"/>
			<xsd:enumeration value="SupervisionalPeriod"/>
			<xsd:enumeration value="OperationPeriod"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrderTypeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PNCnumberType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="12"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="[0-9]{4}[0-9]{7}[A-Za-z0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PrisonerIDtype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProsecutingAuthorityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Crown Prosecution Service"/>
			<xsd:enumeration value="Customs and Excise"/>
			<xsd:enumeration value="Department of Trade and Industry"/>
			<xsd:enumeration value="Inland Revenue"/>
			<xsd:enumeration value="Other Prosecutor"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RecordSheetTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Appeal Record Sheet"/>
			<xsd:enumeration value="Committal Record Sheet"/>
			<xsd:enumeration value="Trial Record Sheet"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RemandTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Indicted"/>
			<xsd:enumeration value="Convicted"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RemandOrderTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LocalAuthority"/>
			<xsd:enumeration value="YouthDetention"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResidenceStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="resident"/>
			<xsd:enumeration value="non-resident"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SentenceLengthType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]|[1-9][0-9]*)-([0-9]|10|11)-([0-9]|[1-9][0-9]*)|life|section93-94"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SentenceTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Detention"/>
			<xsd:enumeration value="Imprisonment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubjectTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Defendant"/>
			<xsd:enumeration value="Appellant"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TermTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Before"/>
			<xsd:enumeration value="Concurrent"/>
			<xsd:enumeration value="Consecutive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TrialLengthType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]|[1-9][0-9]*)-([0-9]|[1-9][0-9]*)\+?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="URNtype">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z0-9]{4}[0-9]{7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WarrantAfterFailureType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="failureToComply"/>
			<xsd:enumeration value="failureToAttend"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoType">
		<xsd:restriction base="apd:YesNoType"/>
	</xsd:simpleType>
	<xsd:simpleType name="DeportationReason">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!--=================================================================	-->
	<!--====================  Start of Complex Type Definition ==================  -->
	<!--=================================================================	-->
	<!--ADDED FOR CCN400 - START -->
	<xsd:complexType name="DeportationStructure">
		<xsd:sequence>
			<xsd:element name="Reason" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ADDED FOR CCN400 - END -->
	<xsd:complexType name="ActivityStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Location" type="LocationStructure" minOccurs="0"/>
					<xsd:element name="Activity" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AdvocateStructure">
		<xsd:complexContent>
			<xsd:extension base="PersonStructure">
				<xsd:sequence>
					<xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
					<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AlcoholAbstinenceAndMonitoringRequirementStructure">
		<xsd:sequence>
			<xsd:element name="Days" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssociatedCaseStructure">
		<xsd:sequence>
			<xsd:element name="AssociatedCase" type="CaseNumberType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentTypeStructure">
		<xsd:sequence>
			<xsd:element name="Attachment" type="AttachmentTypeType" minOccurs="0" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BailChangesStructure">
		<xsd:sequence>
			<xsd:element name="ChangeType" type="BailChangeType" minOccurs="0"/>
			<xsd:element name="AmendedVariedDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BaseOrderRequirementStructure">
		<xsd:sequence>
			<xsd:element name="Duration" type="OrderDurationType" minOccurs="0"/>
			<xsd:element name="AdditionalInformation" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BreachStructure">
		<xsd:sequence>
			<xsd:element name="OriginatingCourt">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="OriginatingCourtStructure">
							<xsd:sequence>
								<xsd:element name="OriginalOrderType" type="xsd:string"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BreachCourt">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="OriginatingCourtStructure">
							<xsd:sequence>
								<xsd:element name="SentToCrownCourt" type="YesNoType"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CasesStructure">
		<xsd:sequence>
			<xsd:element name="Case" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CaseNumber" type="CaseNumberType"/>
						<xsd:element name="CaseArrivedFrom" minOccurs="0">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="OriginatingCourt" type="CourtHouseStructure"/>
									<xsd:element name="Section53" type="YesNoType" default="yes"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Hearing" type="HearingTypeStructure" minOccurs="0"/>
						<xsd:element name="Defendants" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Defendant" type="DefendantStructure"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Prosecution" type="ProsecutionStructure" minOccurs="0"/>
						<xsd:element name="AppealCaseDescription" type="xsd:string" minOccurs="0"/>
						<xsd:element name="MethodOfInstigation" type="MethodOfInstigationType" minOccurs="0"/>
						<xsd:element name="DateOfInstigation" type="xsd:date" minOccurs="0"/>
						<xsd:element name="CaseClassNumber" type="xsd:positiveInteger" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChargeStructure">
		<xsd:sequence>
			<xsd:element name="CRN" type="CRnumberType" minOccurs="0"/>
			<xsd:element name="CRESTchargeID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CaseNumber" type="CaseNumberType" minOccurs="0"/>
			<xsd:element name="OffenceStatement" type="xsd:string"/>
			<xsd:element name="OffenceLocation" type="apd:UKPostalAddressStructure" minOccurs="0"/>
			<xsd:element name="ArrestingPoliceForceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CommittedOnBail" type="YesNoType" minOccurs="0"/>
			<xsd:element name="OffenceStartDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OffenceEndDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="ArraignmentDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ConvictionDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="OffenceParticulars" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CRESToffenceNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Plea" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Verdict" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Disposals" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Disposal" type="xsd:string" maxOccurs="unbounded"/>
						<xsd:element name="CRESTDisposalData" type="cs:CRESTDisposalDataStructure" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SentenceTerm" type="xsd:duration" minOccurs="0"/>
			<xsd:element name="TermType" type="TermTypeType" minOccurs="0"/>
			<xsd:element name="ForLife" type="YesNoType" default="yes" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ChargeType" type="xsd:string" use="optional">
					</xsd:attribute>
		<xsd:attribute name="IndictmentNumber" type="xsd:int" use="optional"/>
		<xsd:attribute name="IndictmentCountNumber" type="xsd:int" use="required"/>
		<xsd:attribute name="CJSoffenceCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="PNCoffenceCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="HOoffenceCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="Life" type="YesNoType" use="optional"/>
		<xsd:attribute name="BreachMultiple" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CollectionCentreStructure">
		<xsd:sequence>
			<xsd:element name="CollectionCentreName" type="xsd:string"/>
			<xsd:element name="CollectionCentreAddress" type="apd:UKPostalAddressStructure" minOccurs="0"/>
			<xsd:element name="CollectionCentreTelephone" type="apd:TelephoneNumberType" minOccurs="0"/>
			<xsd:element name="CollectionCentreFax" type="apd:TelephoneNumberType" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditForBailType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:positiveInteger">
				<xsd:attribute name="Section" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CRESTDisposalDataStructure">
		<xsd:sequence>
			<xsd:element name="DisposalCode">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="TemplateVersion" type="xsd:integer" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DisposalLine" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DilSeqNo" type="xsd:integer"/>
						<xsd:element name="Data" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommunityOrderStructure">
		<xsd:sequence>
			<xsd:element name="DocumentID" type="DocumentIDstructure"/>
			<xsd:element name="OrderHeader" type="CourtOrderHeaderStructure"/>
			<xsd:element name="CommittingCourt" type="OriginatingCourtStructure" minOccurs="0"/>
			<xsd:element name="Breach" type="BreachStructure" minOccurs="0"/>
			<xsd:element name="OriginalOrderRevoked" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="BreachCourt" type="YesNoType" default="yes"/>
						<xsd:element name="CurrentCourt" type="YesNoType" default="yes"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FailedToComply" type="YesNoType" minOccurs="0"/>
			<xsd:element name="AfterHearingFrom" type="YesNoType" minOccurs="0"/>
			<xsd:element name="PettySessionalArea" type="CourtHouseStructure" minOccurs="0"/>
			<xsd:element name="CommunityPunishment" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Hours" minOccurs="0">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:int">
										<xsd:attribute name="TermType" type="TermTypeType" use="optional"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Period" type="xsd:duration" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RehabilitationPeriod" type="xsd:duration" minOccurs="0"/>
			<xsd:element name="Conditions" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Condition" type="ConditionStructure" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AssociatedCases" type="AssociatedCaseStructure" minOccurs="0"/>
			<xsd:element name="AdditionalNotes" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConditionStructure">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"/>
			<xsd:element name="Period" type="xsd:duration" minOccurs="0"/>
			<xsd:element name="Date" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Surety" type="MoneyType" minOccurs="0"/>
			<xsd:element name="Security" type="MoneyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourtAppearanceStructure">
		<xsd:sequence>
			<xsd:element name="AppearanceCourt" type="CourtHouseStructure"/>
			<xsd:element name="AppearanceDateTime" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourtHouseStructure">
		<xsd:sequence>
			<xsd:element name="CourtHouseType" type="CourtType"/>
			<xsd:element name="CourtHouseCode">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CourtHouseCodeType">
							<xsd:attribute name="CourtHouseShortName" use="optional">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[A-Z]{3,5}"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CourtHouseName" type="xsd:string"/>
			<xsd:element name="CourtHouseAddress" type="apd:UKPostalAddressStructure" minOccurs="0"/>
			<xsd:element name="CourtHouseDX" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CourtHouseTelephone" type="apd:TelephoneNumberType" minOccurs="0"/>
			<xsd:element name="CourtHouseFax" type="apd:TelephoneNumberType" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0">
							</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourtOrderHeaderStructure">
		<xsd:sequence>
			<xsd:element name="OrderType" type="OrderTypeType"/>
			<xsd:element name="CourtHouse" type="CourtHouseStructure"/>
			<xsd:element name="Judiciary" type="JudiciaryStructure" minOccurs="0"/>
			<xsd:element name="CaseNumber" type="CaseNumberType"/>
			<xsd:element name="SubjectType" type="SubjectTypeType" minOccurs="0"/>
			<xsd:element name="Defendant" type="DefendantStructure"/>
			<xsd:element name="OrderDate" type="xsd:date"/>
			<xsd:element name="SignedBy">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="CourtOfficer" type="apd:CitizenNameStructure"/>
						<xsd:element name="Judiciary" type="JudiciaryStructure"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SignedDate" type="xsd:date"/>
			<xsd:element name="RevisionDetails" type="RevisionDetailsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourtReportingStructure">
		<xsd:sequence>
			<xsd:element name="Firm" type="OrganisationStructure"/>
			<xsd:element name="Reporter" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="PersonStructure">
							<xsd:sequence>
								<xsd:element name="OperatorType" type="xsd:string"/>
								<xsd:element name="StartDate" type="xsd:date"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SUSImprisonmentPeriod">
		<xsd:sequence>
			<xsd:element name="Years" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Months" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Weeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Days" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustodialTermStructure">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="Term" minOccurs="0">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="ModifiedTermStructure">
								<xsd:attribute name="Consecutive" type="YesNoType" use="optional"/>
								<xsd:attribute name="Concurrent" type="YesNoType" use="optional"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="s235-236" type="ModifiedExtendedTermStructure" minOccurs="0"/>
				<xsd:element name="ExtendedPeriod" type="ModifiedTermStructure" minOccurs="0"/>
				<xsd:element name="Section44" type="YesNoType" minOccurs="0"/>
				<xsd:element name="TotalTerm" type="ModifiedTermStructure"/>
			</xsd:sequence>
			<xsd:element name="LifeSentence" type="LifeSentenceStructure"/>
		</xsd:choice>
		<xsd:attribute name="Section91" type="YesNoType" use="optional"/>
		<xsd:attribute name="Section250" type="YesNoType" use="optional"/>
		<xsd:attribute name="IndeterminateSentence" type="YesNoType" use="optional"/>
		<xsd:attribute name="SectionType" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="s224a"/>
					<xsd:enumeration value="s225"/>
					<xsd:enumeration value="s226"/>
					<xsd:enumeration value="s226a"/>
					<xsd:enumeration value="s226b"/>
					<xsd:enumeration value="s227"/>
					<xsd:enumeration value="s228"/>
					<xsd:enumeration value="s283"/>
					<xsd:enumeration value="s285"/>
					<xsd:enumeration value="s272"/>
					<xsd:enumeration value="s273"/>
					<xsd:enumeration value="s274"/>
					<xsd:enumeration value="s275"/>
					<xsd:enumeration value="s93"/>
					<xsd:enumeration value="s94"/>
					<xsd:enumeration value="s279"/>
					<xsd:enumeration value="s266"/>
					<xsd:enumeration value="s254"/>
					<xsd:enumeration value="s268a"/>
					<xsd:enumeration value="s282a"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Section236A" type="YesNoType" use="optional"/>
		<xsd:attribute name="Section278" type="YesNoType" use="optional"/>
		<xsd:attribute name="Section265" type="YesNoType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="DefenceStructure">
		<xsd:sequence>
			<xsd:element name="Solicitor" type="SolicitorStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Advocate" type="AdvocateStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndeterminateSentenceStructure">
		<xsd:sequence>
			<xsd:element name="MinimumSentence" type="xsd:duration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditOnRemandStructure">
		<xsd:sequence>
			<xsd:element name="CreditPeriod" type="xsd:duration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditOnBailStructure">
		<xsd:sequence>
			<xsd:element name="CreditPeriod" type="xsd:duration"/>
		</xsd:sequence>
		<xsd:attribute name="Section" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="DefendantStructure">
		<xsd:complexContent>
			<xsd:extension base="PersonStructure">
				<xsd:sequence>
					<xsd:element name="ASNs" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ASN" type="cs:ASnumberType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="CRESTdefendantID" type="xsd:int" minOccurs="0"/>
					<xsd:element name="PNCnumber" type="PNCnumberType" minOccurs="0"/>
					<xsd:element name="URN" type="URNtype" minOccurs="0"/>
					<xsd:element name="CROnumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="MagistratesCourtRefNumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PrisonerID" type="PrisonerIDtype" minOccurs="0"/>
					<xsd:element name="PrisonLocation" type="PrisonLocationStructure" minOccurs="0"/>
					<xsd:element name="CustodyStatus" type="BailStatusType" minOccurs="0"/>
					<xsd:element name="Counsel" type="DefenceStructure" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Charges" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Charge" type="ChargeStructure" maxOccurs="unbounded"/>
							</xsd:sequence>
							<xsd:attribute name="NumberOfCharges" type="xsd:integer" use="optional"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="OriginalCharges" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OriginalCharge" maxOccurs="unbounded">
																		<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="OriginalChargeSequenceNumber" type="xsd:int"/>
											<xsd:element name="OriginalChargeDescription" type="xsd:string"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="AdditionalNotes" type="xsd:string" minOccurs="0"/>
					<xsd:element name="DeportationReason" type="DeportationReason" minOccurs="0"/>
					<xsd:element name="HateCrime" type="HateCrimeStructure" minOccurs="0"/>
					<xsd:element name="DefendantNumber" type="xsd:int" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentIDstructure">
		<xsd:sequence>
			<xsd:element name="DocumentName" type="xsd:string"/>
			<xsd:element name="UniqueID" type="xsd:string"/>
			<xsd:element name="DocumentType" type="xsd:string"/>
			<xsd:element name="TimeStamp" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="Version" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SecurityClassification" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SellByDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="XSLstylesheetURL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="WelshTranslation" type="YesNoType" minOccurs="0"/>
			<xsd:element name="DocumentInformation" type="xsd:string" minOccurs="0">
							</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DrugRehabilitationStructure">
		<xsd:complexContent>
			<xsd:extension base="TreatmentStructure">
				<xsd:sequence>
					<xsd:element name="Samples" type="YesNoType" minOccurs="0"/>
					<xsd:element name="Review" type="OrderReviewStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EducationStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="ArrangedBy" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LocalAuthority" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElectronicWhereaboutsStructure">
		<xsd:sequence>
			<xsd:element name="WhereaboutsDuration" type="OrderDurationType" minOccurs="0"/>
			<xsd:element name="AdditionalInformation" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExclusionStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="Location" type="LocationStructure"/>
					<xsd:element name="Between" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ExtendedActivityStructure">
		<xsd:sequence>
			<xsd:element name="Activity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ActivityDuration" type="OrderDurationType" minOccurs="0"/>
			<xsd:element name="ISSOption" type="YesNoType" minOccurs="0"/>
			<xsd:element name="AdditionalInformation" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtendedTermStructure">
		<xsd:sequence>
			<xsd:element name="CustodialTerm" type="ModifiedTermStructure" minOccurs="0"/>
			<xsd:element name="ExtensionPeriod" type="ModifiedTermStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Consecutive" type="YesNoType" use="optional"/>
		<xsd:attribute name="Concurrent" type="YesNoType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ExtensionType">
		<xsd:sequence>
			<xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FixtureStructure">
		<xsd:sequence>
			<xsd:element name="FixedDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Cases" type="CasesStructure"/>
			<xsd:element name="LinkedCases" type="LinkedCasesStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForeignTravelProhibitionRequirementStructure">
		<xsd:sequence>
			<xsd:element name="Days" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FromDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ToDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ProhibitedFrom" type="xsd:string"/>
			<xsd:element name="Exception" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FosteringStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="LocalAuthority" type="xsd:string" minOccurs="0"/>
					<xsd:element name="BeginDate" type="xsd:date" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HateCrimeStructure">
		<xsd:sequence>
			<xsd:element name="Reason" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HearingStructure">
		<xsd:sequence>
			<xsd:element name="HearingSequenceNumber" type="xsd:int"/>
			<xsd:element name="HearingDetails" type="HearingTypeStructure"/>
			<xsd:element name="CRESThearingID" type="xsd:int" minOccurs="0"/>
			<xsd:element name="TimeMarkingNote" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CaseNumber" type="CaseNumberType"/>
			<xsd:element name="Prosecution" type="ProsecutionStructure" minOccurs="0"/>
			<xsd:element name="CommittingCourt" type="CourtHouseStructure" minOccurs="0"/>
			<xsd:element name="ListNote" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumberOfDefendants" type="xsd:int" minOccurs="0"/>
			<xsd:element name="Defendants" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Defendant" type="DefendantStructure" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Respondent" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HearingBailChangesStructure">
		<xsd:sequence>
			<xsd:element name="BailChangeDate" type="xsd:date"/>
			<xsd:choice>
				<xsd:element name="HearingBailResult">
										<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="Granted"/>
							<xsd:enumeration value="Refused"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="NewBailStatus" type="BailStatusType">
									</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HearingTypeStructure">
		<xsd:sequence>
			<xsd:element name="HearingDescription" type="xsd:string"/>
			<xsd:element name="HearingDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="HearingEndDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ListNote" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="HearingType" type="HearingTypeType"/>
	</xsd:complexType>
	<xsd:complexType name="JudiciaryStructure">
		<xsd:sequence>
			<xsd:element name="Judge">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="apd:CitizenNameStructure">
							<xsd:sequence>
								<xsd:element name="CRESTjudgeID" type="xsd:int" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Justice" minOccurs="0" maxOccurs="4">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="apd:CitizenNameStructure">
							<xsd:sequence minOccurs="0">
								<xsd:element name="CRESTjusticeID" type="xsd:int" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LifeSentenceStructure">
		<xsd:sequence>
			<xsd:element name="MinimumLifeTerm" type="ModifiedTermStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="HMPleasure" type="YesNoType" use="optional"/>
		<xsd:attribute name="MandatoryLife" type="YesNoType" use="optional"/>
		<xsd:attribute name="Section9394" type="YesNoType" use="optional"/>
		<xsd:attribute name="AutomaticLife" type="YesNoType" use="optional"/>
		<xsd:attribute name="DiscretionaryLife" type="YesNoType" use="optional"/>
		<xsd:attribute name="WholeLife" type="YesNoType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="LinkedCasesStructure">
		<xsd:sequence>
			<xsd:element name="CaseNumber" type="CaseLinkRefType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListHeaderStructure">
		<xsd:sequence>
			<xsd:element name="ListCategory" default="Criminal">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Combined"/>
						<xsd:enumeration value="Criminal"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="StartDate" type="xsd:date"/>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Version" type="xsd:string"/>
			<xsd:element name="CRESTprintRef" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PublishedTime" type="xsd:dateTime"/>
			<xsd:element name="CRESTlistID" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocationStructure">
		<xsd:choice>
			<xsd:element name="Site" type="xsd:string"/>
			<xsd:element name="Address" type="apd:UKPostalAddressStructure"/>
		</xsd:choice>
		<xsd:attribute name="ResidencyStatus" type="ResidenceStatusType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ModifiedExtendedTermStructure">
		<xsd:sequence>
			<xsd:element name="CustodialTerm" type="ModifiedTermStructure" minOccurs="0"/>
			<xsd:element name="ExtensionPeriod" type="ModifiedTermStructure" minOccurs="0"/>
			<xsd:element name="Section" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Consecutive" type="YesNoType" use="optional"/>
		<xsd:attribute name="Concurrent" type="YesNoType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="MoneyType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="Currency" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NBSSOrderStructure">
		<xsd:sequence>
			<xsd:element name="OriginalTermUnaltered" type="YesNoType" minOccurs="0"/>
			<xsd:element name="LesserTerm" type="ModifiedTermStructure" minOccurs="0"/>
			<xsd:element name="Fine" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Requirements" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SupervisionPeriod" type="ModifiedTermStructure" minOccurs="0"/>
			<xsd:element name="OperationalPeriod" type="ModifiedTermStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OfficerStructure">
		<xsd:sequence>
			<xsd:element name="OfficerName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContactDetails" type="apd:CitizenContactDetailsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderDurationType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:duration">
				<xsd:attribute name="SpecifiedInWeeks" type="YesNoType" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OrderRequirementsStructure">
		<xsd:sequence>
			<xsd:element name="UnpaidWorkRequirement" type="UnpaidWorkStructure" minOccurs="0"/>
			<xsd:element name="ActivityRequirement" type="ActivityStructure" minOccurs="0"/>
			<xsd:element name="ProgrammeRequirement" type="ProgrammeStructure" minOccurs="0"/>
			<xsd:element name="ProhibitedActivityRequirement" type="ProhibitedActivityStructure" minOccurs="0"/>
			<xsd:element name="CurfewRequirement" type="BaseOrderRequirementStructure" minOccurs="0"/>
			<xsd:element name="ExclusionRequirement" type="ExclusionStructure" minOccurs="0"/>
			<xsd:element name="ResidenceRequirement" type="ResidenceStructure" minOccurs="0"/>
			<xsd:element name="MentalHealthTreatmentRequirement" type="TreatmentStructure" minOccurs="0"/>
			<xsd:element name="DrugRehabilitationRequirement" type="DrugRehabilitationStructure" minOccurs="0"/>
			<xsd:element name="AlcoholTreatmentRequirement" type="TreatmentStructure" minOccurs="0"/>
			<xsd:element name="SupervisionRequirement" type="BaseOrderRequirementStructure" minOccurs="0"/>
			<xsd:element name="ForeignTravelProhibitionRequirement" type="ForeignTravelProhibitionRequirementStructure" minOccurs="0"/>
			<xsd:element name="RehabilitationActivityRequirement" type="RehabilitationActivityRequirementStructure" minOccurs="0"/>
			<xsd:element name="AlcoholAbstinenceAndMonitoringRequirement" type="AlcoholAbstinenceAndMonitoringRequirementStructure" minOccurs="0"/>
			<xsd:element name="TrailMonitoringRequirement" type="TrailMonitoringRequirementStructure" minOccurs="0"/>
			<xsd:element name="AttendanceCentreRequirement" type="YesNoType" minOccurs="0"/>
			<xsd:element name="ElectronicMonitoringProvision" type="YesNoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderReviewStructure">
		<xsd:sequence>
			<xsd:element name="Periodicity" type="xsd:string"/>
			<xsd:element name="Location" type="CourtHouseStructure" minOccurs="0"/>
			<xsd:element name="DateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="Telephone" type="apd:TelephoneNumberType" minOccurs="0"/>
			<xsd:element name="CompulsoryAttendance" type="YesNoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OriginatingCourtStructure">
		<xsd:sequence>
			<xsd:element name="Date" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CourtHouse" type="CourtHouseStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganisationStructure">
		<xsd:sequence>
			<xsd:element name="OrganisationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrganisationName" type="xsd:string"/>
			<xsd:element name="OrganisationAddress" type="apd:UKPostalAddressStructure" minOccurs="0"/>
			<xsd:element name="OrganisationDX" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContactDetails" type="apd:CitizenContactDetailsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherReasonsStructure">
		<xsd:sequence>
			<xsd:element name="Welfare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OwnProtection" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LackOfPlacement" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BailISSNotAvailable" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BailInadequate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyStructure">
		<xsd:choice>
			<xsd:element name="Person" type="PersonStructure"/>
			<xsd:element name="Organisation" type="OrganisationStructure"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PersonalDetailsStructure">
		<xsd:sequence>
			<xsd:element name="Name" type="apd:CitizenNameStructure" minOccurs="0"/>
			<xsd:element name="MaskedName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IsMasked" type="YesNoType"/>
			<xsd:element name="DateOfBirth" type="apd:CitizenBirthDateStructure" minOccurs="0"/>
			<xsd:element name="Age" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Sex" type="apd:SexType" minOccurs="0"/>
			<xsd:element name="Address" type="apd:UKPostalAddressStructure" minOccurs="0"/>
			<xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonStructure">
		<xsd:sequence>
			<xsd:element name="PersonalDetails" type="PersonalDetailsStructure">
							</xsd:element>
			<xsd:element name="ContactDetails" type="apd:CitizenContactDetailsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrisonLocationStructure">
		<xsd:sequence>
			<xsd:element name="Location" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="PrisonID" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ProgrammeStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="Programme" type="xsd:string"/>
					<xsd:element name="Location" type="LocationStructure"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProhibitedActivityStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="Activity" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProsecutionStructure">
		<xsd:sequence>
			<xsd:element name="Advocate" type="AdvocateStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProsecutingReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProsecutingOrganisation" type="OrganisationStructure" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ProsecutingAuthority" type="ProsecutingAuthorityType"/>
	</xsd:complexType>
	<xsd:complexType name="ReasonsForRemandStructure">
		<xsd:sequence>
			<xsd:element name="SeriousnessOfOffence" type="xsd:string" minOccurs="0"/>
			<xsd:element name="History" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Necessity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OtherReasons" type="OtherReasonsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReasonsStructure">
		<xsd:sequence>
			<xsd:element name="Reason" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecordSheetHeaderStructure">
		<xsd:sequence>
			<xsd:element name="RecordSheetType" type="RecordSheetTypeType"/>
			<xsd:element name="CourtHouse" type="CourtHouseStructure"/>
			<xsd:element name="CaseNumber" type="CaseNumberType"/>
			<xsd:element name="MagistratesCourt" type="CourtHouseStructure" minOccurs="0"/>
			<xsd:element name="TransferInCourt" minOccurs="0">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="cs:CourtHouseStructure">
							<xsd:sequence>
								<xsd:element name="DateOfTransferIn" type="xsd:date" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubjectType" type="SubjectTypeType" minOccurs="0"/>
			<xsd:element name="MethodOfInstigation" type="MethodOfInstigationType" minOccurs="0"/>
			<xsd:element name="DateOfInstigation" type="xsd:date" minOccurs="0"/>
			<xsd:element name="OriginalCaseNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Defendant">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="DefendantStructure">
							<xsd:sequence>
								<xsd:element name="CRESTdefendantNumber" type="xsd:int" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VulnerableVictimIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TotalDefendants" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RehabilitationActivityRequirementStructure">
		<xsd:sequence>
			<xsd:element name="Duration" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemandReasonStructure">
		<xsd:choice>
			<xsd:element name="SentforTrial" type="OriginatingCourtStructure"/>
			<xsd:element name="CrownCourtCommittal" type="OriginatingCourtStructure"/>
			<xsd:element name="VoluntaryBillOfIndictment" type="xsd:date"/>
			<xsd:element name="CertificateOfTransfer" type="xsd:date"/>
			<xsd:element name="AppealAgainstBailGranted" type="YesNoType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="RemandTypeStructure">
		<xsd:sequence>
			<xsd:element name="DesignatedLocalAuthority" type="xsd:string"/>
			<xsd:element name="RequirementOnLocalAuthority" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConditionsOnDefendant" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="RemandType" type="RemandOrderTypeType"/>
	</xsd:complexType>
	<xsd:complexType name="ResidenceStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="Location" type="LocationStructure"/>
					<xsd:element name="AlternativeLocation" type="LocationStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReturnToImprisonmentStructure">
		<xsd:sequence>
			<xsd:element name="OffenceDate">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:date">
							<xsd:attribute name="Qualifier" type="DateQualifierType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SentencingCourt" type="OriginatingCourtStructure"/>
			<xsd:element name="ReturnPeriod" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Period" type="xsd:duration"/>
						<xsd:element name="Max116" type="YesNoType" default="yes"/>
					</xsd:choice>
					<xsd:attribute name="DetentionType" type="DetentionTypeType"/>
					<xsd:attribute name="TermType" type="TermTypeType" use="optional"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TotalPeriodOfReturn" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:duration">
							<xsd:attribute name="IncludesNewOffenceTerm" type="YesNoType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevisionDetailsStructure">
		<xsd:sequence>
			<xsd:element name="PreviousOrderDate" type="xsd:date"/>
			<xsd:element name="RevisionNumber" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Section85Structure">
		<xsd:sequence>
			<xsd:element name="TermType" type="TermTypeType" minOccurs="0"/>
			<xsd:element name="Section85Total" type="SentenceLengthType"/>
			<xsd:element name="Section85Custodial" type="SentenceLengthType"/>
			<xsd:element name="Section85Extension" type="SentenceLengthType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SentenceStructure">
		<xsd:sequence>
			<xsd:element name="SentenceType" type="SentenceTypeType"/>
			<xsd:element name="SentenceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TermType" type="TermTypeType" minOccurs="0"/>
			<xsd:element name="Term" type="TermStructure"/>
			<xsd:element name="Chapter3" type="YesNoType"/>
			<xsd:element name="Section85" type="Section85Structure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SittingStructure">
		<xsd:sequence>
			<xsd:element name="CourtRoomNumber" type="xsd:string"/>
			<xsd:element name="SittingSequenceNo" type="xsd:string"/>
			<xsd:element name="SittingAt" type="xsd:time" minOccurs="0"/>
			<xsd:element name="SittingPriority">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="T"/>
						<xsd:enumeration value="F"/>
						<xsd:enumeration value="R"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SittingNote" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Judiciary" type="JudiciaryStructure"/>
			<xsd:element name="Hearings">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Hearing" type="HearingStructure" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SolicitorStructure">
		<xsd:sequence>
			<xsd:element name="Party" type="PartyStructure"/>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TermStructure">
		<xsd:simpleContent>
			<xsd:extension base="xsd:duration">
				<xsd:attribute name="TermType" type="TermTypeType" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ModifiedTermStructure">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="TermType" type="TermTypeType" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
		<!-- This is a variation on the existing TermStructure and based on xsd:duration but with the additional ability to hold a value for weeks - NOT VALIDATED -->
	</xsd:complexType>
	<xsd:complexType name="TestingStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:choice>
					<xsd:element name="ResponsibleOfficerInstructions" type="YesNoType" default="yes"/>
					<xsd:element name="MinimumOccasions" type="xsd:string"/>
					<xsd:element name="Requirements" type="xsd:string"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TotalSentenceStructure">
		<xsd:sequence>
			<xsd:element name="Term" type="TermStructure" minOccurs="0"/>
			<xsd:element name="OtherOrders" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Order" type="xsd:string" maxOccurs="unbounded"/>
						<xsd:element name="CRESTOrderData" type="cs:CRESTDisposalDataStructure" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrailMonitoringRequirementStructure">
		<xsd:sequence>
			<xsd:element name="Duration" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="TreatmentDirector" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TreatmentLocation" type="LocationStructure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UnpaidWorkStructure">
		<xsd:complexContent>
			<xsd:extension base="BaseOrderRequirementStructure">
				<xsd:sequence>
					<xsd:element name="Concurrent" type="YesNoType" minOccurs="0"/>
					<xsd:element name="ConcurrentOrConsecutiveWorkDetails" type="xsd:string" minOccurs="0"/>
					<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="YouthOrderRequirementsStructure">
		<xsd:sequence>
			<xsd:element name="UnpaidWorkRequirement" type="UnpaidWorkStructure" minOccurs="0"/>
			<xsd:element name="ActivityRequirement" type="ActivityStructure" minOccurs="0"/>
			<xsd:element name="ProgrammeRequirement" type="ProgrammeStructure" minOccurs="0"/>
			<xsd:element name="ProhibitedActivityRequirement" type="ProhibitedActivityStructure" minOccurs="0"/>
			<xsd:element name="CurfewRequirement" type="BaseOrderRequirementStructure" minOccurs="0"/>
			<xsd:element name="ExclusionRequirement" type="ExclusionStructure" minOccurs="0"/>
			<xsd:element name="ResidenceRequirement" type="ResidenceStructure" minOccurs="0"/>
			<xsd:element name="LocalAuthorityResidenceRequirement" type="ResidenceStructure" minOccurs="0"/>
			<xsd:element name="FosteringRequirement" type="FosteringStructure" minOccurs="0"/>
			<xsd:element name="MentalHealthTreatmentRequirement" type="TreatmentStructure" minOccurs="0"/>
			<xsd:element name="DrugRehabilitationRequirement" type="DrugRehabilitationStructure" minOccurs="0"/>
			<xsd:element name="DrugTestingRequirement" type="TestingStructure" minOccurs="0"/>
			<xsd:element name="IntoxicatingSubstanceRequirement" type="TreatmentStructure" minOccurs="0"/>
			<xsd:element name="SupervisionRequirement" type="BaseOrderRequirementStructure" minOccurs="0"/>
			<xsd:element name="EducationRequirement" type="EducationStructure" minOccurs="0"/>
			<xsd:element name="ExtendedActivityRequirement" type="ExtendedActivityStructure" minOccurs="0"/>
			<xsd:element name="ElectronicWhereaboutsRequirement" type="ElectronicWhereaboutsStructure" minOccurs="0"/>
			<xsd:element name="AttendanceCentreRequirement" type="YesNoType" minOccurs="0"/>
			<xsd:element name="ElectronicMonitoringProvision" type="YesNoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
