src/main/resources/ws/dartsService/DARTSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions name="DARTSService"
    targetNamespace="http://com.synapps.mojdarts.service.com"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://com.synapps.mojdarts.service.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rt.fs.documentum.emc.com/" schemaLocation="DARTSService_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://response.dfs.moj.synapps.com/" schemaLocation="DARTSService_schema2.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://properties.core.datamodel.fs.documentum.emc.com/" schemaLocation="DARTSService_schema3.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://core.datamodel.fs.documentum.emc.com/" schemaLocation="DARTSService_schema4.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://content.core.datamodel.fs.documentum.emc.com/" schemaLocation="DARTSService_schema5.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://com.synapps.mojdarts.service.com" schemaLocation="DARTSService_schema6.xsd"/>
        </xsd:schema>
    </types>
    <message name="addAudio">
        <part element="tns:addAudio" name="parameters"/>
    </message>
    <message name="addAudioResponse">
        <part element="tns:addAudioResponse" name="parameters"/>
    </message>
    <message name="Exception">
        <part element="tns:Exception" name="fault"/>
    </message>
    <message name="ServiceException">
        <part element="ns1:ServiceException" name="fault" xmlns:ns1="http://rt.fs.documentum.emc.com/"/>
    </message>
    <message name="addCase">
        <part element="tns:addCase" name="parameters"/>
    </message>
    <message name="addCaseResponse">
        <part element="tns:addCaseResponse" name="parameters"/>
    </message>
    <message name="requestTranscription">
        <part element="tns:requestTranscription" name="parameters"/>
    </message>
    <message name="requestTranscriptionResponse">
        <part element="tns:requestTranscriptionResponse" name="parameters"/>
    </message>
    <message name="registerNode">
        <part element="tns:registerNode" name="parameters"/>
    </message>
    <message name="registerNodeResponse">
        <part element="tns:registerNodeResponse" name="parameters"/>
    </message>
    <message name="getCases">
        <part element="tns:getCases" name="parameters"/>
    </message>
    <message name="getCasesResponse">
        <part element="tns:getCasesResponse" name="parameters"/>
    </message>
    <message name="getCourtLog">
        <part element="tns:getCourtLog" name="parameters"/>
    </message>
    <message name="getCourtLogResponse">
        <part element="tns:getCourtLogResponse" name="parameters"/>
    </message>
    <message name="addLogEntry">
        <part element="tns:addLogEntry" name="parameters"/>
    </message>
    <message name="addLogEntryResponse">
        <part element="tns:addLogEntryResponse" name="parameters"/>
    </message>
    <message name="addDocument">
        <part element="tns:addDocument" name="parameters"/>
    </message>
    <message name="addDocumentResponse">
        <part element="tns:addDocumentResponse" name="parameters"/>
    </message>
    <portType name="DARTSServicePort">
        <operation name="addAudio">
            <input message="tns:addAudio"/>
            <output message="tns:addAudioResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="addCase">
            <input message="tns:addCase"/>
            <output message="tns:addCaseResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="requestTranscription">
            <input message="tns:requestTranscription"/>
            <output message="tns:requestTranscriptionResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="registerNode">
            <input message="tns:registerNode"/>
            <output message="tns:registerNodeResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getCases">
            <input message="tns:getCases"/>
            <output message="tns:getCasesResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getCourtLog">
            <input message="tns:getCourtLog"/>
            <output message="tns:getCourtLogResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="addLogEntry">
            <input message="tns:addLogEntry"/>
            <output message="tns:addLogEntryResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="addDocument">
            <input message="tns:addDocument"/>
            <output message="tns:addDocumentResponse"/>
            <fault message="tns:Exception" name="Exception"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
    </portType>
    <binding name="DARTSServicePortBinding" type="tns:DARTSServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addAudio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="addCase">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="requestTranscription">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="registerNode">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCases">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCourtLog">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="addLogEntry">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="addDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="DARTSService">
        <documentation><![CDATA[@author ewingsg]]></documentation>
        <port binding="tns:DARTSServicePortBinding" name="DARTSServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>
